services:
  selenoid:
    network_mode: bridge
    image: aerokube/selenoid:latest-release
    volumes:
      - ./selenoid/browser.json:/etc/selenoid/browser.json
      - "/path/to/config:/etc/selenoid"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/path/to/config/video:/opt/selenoid/video"
      - "/path/to/config/logs:/opt/selenoid/logs"
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=/path/to/config/video
    command: [ "-conf", "/etc/selenoid/browser.json", "-video-output-dir", "/opt/selenoid/video", "-log-output-dir", "/opt/selenoid/logs" ]
    ports:
      - "4444:4444"
  test-runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test_runner
    volumes:
      - ./target:/usr/src/app/target
      - maven-cache:/root/.m2
      - ./tests:/app/tests  # папка с тестами, если нужно
    environment:
      - MAVEN_OPTS=-Xmx2g
    command: mvn test -Dsurefire.reportFormat=brief
    networks:
      - test-network
volumes:
  maven-cache:
    driver: local

networks:
  test-network:
    driver: bridge