services:
  version: '3'
  services:
    selenoid:
      image: "aerokube/selenoid"
      network_mode: bridge
      ports:
        - "4444:4444"
      volumes:
        - "$PWD:/etc/selenoid/" # assumed current dir contains browsers.json
        - "/var/run/docker.sock:/var/run/docker.sock"
    selenoid-ui:
      image: "aerokube/selenoid-ui"
      network_mode: bridge
      links:
        - selenoid
      ports:
        - "8081:8081"
      command: [ "--selenoid-uri", "http://selenoid:4444" ]

  test-runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: test_runner
    depends_on:
      selenoid:
        condition: service_healthy
    volumes:
      - ./target:/usr/src/app/target
      - maven-cache:/root/.m2
      - ./tests:/app/tests
    environment:
      - MAVEN_OPTS=-Xmx2g
    command: mvn test -Dsurefire.reportFormat=brief
    networks:
      - test-network
volumes:
  maven-cache:
    driver: local

networks:
  test-network:
    driver: bridge